html {
  height:100%;
}

body {
  min-height:100%;
  padding:0;
  margin:0;
  position:relative;
}

body::after{
  content:'';
  display:block;
  height:100px;
}

#logo {
  font-family:  'Raleway', sans-serif;
  font-size: 70pt;
  color: #606a9b;
  text-align: center;
}

::placeholder {
  text-align: center;
  line-height: 160px;
  color: gray;
}

#save-button, #next-button {
  font-family: Helvetica;
  font-size: 25pt;
  background-color: #4fcaa8;
  border-radius: 15px;
  padding: 5px 40px 5px 40px;
  margin-left: 990px;
  margin-top: 50px;
  color: white;
  border: none;
}

#review-button, #create-button {
  font-family: Helvetica;
  font-size: 25pt;
  background-color: #606a9b;
  border-radius: 15px;
  padding: 5px 40px 5px 40px;
  color: white;
  border: none;
  position: absolute;
  left: 0;
  margin-top: 50px;
  margin-left: 70px;
}

.cardside {
  display: flex;
  flex-direction: row;
  text-align:center;
  align-items: center;
  justify-content: center;
}

.review-cardside {
  display: flex;
  flex-direction: column;
  text-align:center;
  align-items: center;
  justify-content: center;
}

.reviewcards p {
  font-family: Helvetica;
  font-size: 30pt;
  border: 2px solid #b3b3b3;
  margin-right: 50px;
  width: 390px;
  height: 326px;
}

#outputDiv {
  font-family: Helvetica;
  font-size: 30pt;
  border: 2px solid #b3b3b3;
  width: 390px;
  height: 330px;
}

#typeAnswerDiv {
  font-family: Helvetica;
  font-size: 30pt;
  border: 2px solid #b3b3b3;
  width: 390px;
  height: 330px;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
}

.cardside textarea {
  font-family: Helvetica;
  font-size: 30pt;
  border: 2px solid #b3b3b3;
  margin-right: 50px;
  width: 390px;
  height: 326px;
}

/* #displayAnswer {
  font-family: Helvetica;
  font-size: 30pt;
  border: 2px solid #b3b3b3;
  width: 800px;
  height: 300px;
  margin-bottom: 40px;
} */

#outputDiv {
  font-family: Helvetica;
  font-size: 30pt;
  border: 2px solid #b3b3b3;
  width: 390px;
  height: 330px;
}

.review-cardside textarea {
  font-family: Helvetica;
  font-size: 30pt;
  border: 2px solid #b3b3b3;
  width: 800px;
  height: 100px;
}

p:empty:not(:focus)::before {
  content: attr(data-placeholder);
  color: gray;
  font-size: 35px;
}

footer{
  background-color: #606a9b;
  font-family: Helvetica;
  font-size: 25pt;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

/* Phone View */
@media only screen and (max-width: 600px) {
  .cardside {
    flex-direction: column;
  }
  #save-button {
    margin-top: 30px;
    margin-left: 215px;
    font-size: 17pt;
    border-radius: 5px;
    padding: 4px 25px 4px 25px;
  }
  .cardside textarea {
    width: 280px;
    height: 166px;
    font-size: 20pt;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  #outputDiv {
    width: 280px;
    height: 160px;
  }
  #logo {
    font-size: 25pt;
  }
  #review-button {
    font-size: 10pt;
    padding: 6px 8px 6px 8px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 5px;
  }
  .cards {
    margin-top: 40px;
  }
  p:empty:not(:focus)::before {
    font-size: 26px;
  }
  footer {
    font-size: 17pt;
    height: 30px;
  }
}




















/*- Typograpy and resets -*/
html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  background-color: #fff;
}

.arrowsjpg {
  width: 70px;
  height: 60px;
  float: right;
  margin-left: 700px;
  margin-top: -300px;
}

h1,
h2 {
  margin-top: 0;
}

h1 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
}

.card-side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

/*- Card container -*/
.card-container {
  position: relative;
  border: 2px solid #b3b3b3;
  z-index: 1;
  margin: 32px auto;
  width: 800px;
  height: 300px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

/*- Card body -*/
.card-body {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all .7s linear;
}

/*- Flipping the card -*/
.card-container.hover .card-body {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-container.hover > .card-body > .side-front {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility .75s linear;
}

/*- Card sides -*/
.card-side {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #212121;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
}


/*- Back side -*/
.side-back {
  z-index: 2;
  padding: 0px;
  text-align: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}


































/* iPad View */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  #save-button {
    margin-left: 555px;
  }
  .cardside textarea {
    width: 290px;
    height: 326px;
  }
  #outputDiv {
    width: 290px;
    height: 330px;
  }
  #review-button {
    font-size: 20pt;
    padding: 5px 10px 5px 10px;
    margin-top: 50px;
    margin-left: 30px;
  }
  #logo {
    font-size: 50pt;
  }
  #next-button {
    margin-left: 540px;
  }
  .card-container {
    width: 600px;
    height: 200px;
  }
  .review-cardside textarea {
    width: 600px;
  }
  header {
    margin-bottom: 30px;
  }
}

/* iPad Pro View */
@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)  {
  #save-button {
    margin-left: 685px;
  }
  #next-button {
    margin-left: 680px;
  }
  #review-button {
    font-size: 20pt;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    margin-left: 30px;
  }
  header {
    margin-bottom: 30px;
  }
}
